@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-red-50: #fceded;
  --color-red-100: #f9d8d6;
  --color-red-200: #f4b8b2;
  --color-red-300: #ed7474;
  --color-red-400: #db1200;
  --color-red-500: #c10000;
  --color-red-600: #a00000;
  --color-red-700: #7f0000;
  --color-red-800: #660901;
  --color-red-900: #54100a;
  --color-red-950: #2d0505;
}
